html
{
    font-size: 16px;
}
body
{
    background-color: #7a9adf;
    margin:0;    
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
}
.row
{
    margin: auto;
}
.welcome-screen
{    
    padding: 0;    
    position: relative;
    background-color: #7a9adf;
}
.background-wrap
{
    position: relative;    
}
.welcome-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s ease;    
}
.blank-half
{
    background-color: #7a9adf;
    height: 100vh;       
    position: absolute;
}
.welcome-content
{
    height: 100vh;
    position: relative;
    color:white;    
    text-align: center;
}
.thumbnail.main,.thumbnail.sub
{    
    font-size: 3rem;
    font-family: "Alfa Slab One", sans-serif;
    font-weight: 200;
    transform: translateY(100vh); /* Ukrycie elementów poprzez przesunięcie w dół o 100% wysokości */
    transition: transform 2s ease;
}
@media (min-width: 1200px) { /* To jest dla rozmiaru ekranu xl (1200px) */
    .thumbnail.sub {
        color: #bd5a43; /* Kolor dla rozmiaru xl i większych */        
    }
    .thumbnail.main,.thumbnail.sub
    {
        font-size: 5.25rem;
    }
}
.thumbnail.main.loaded
{
    transform: translateY(0);
}
.thumbnail.sub.loaded {
    transform: translateY(0);    
}
.socials .icon-link
{
    color:white;    
    font-size: 3rem;
    transition: all ease-in-out 0.5s;
}
.socials .icon-link:hover
{
    color:#bd5a43;    
    transform:translatey(-1rem);
    transition: all ease-in-out 0.5s;
}
.scroll-icon
{        
    text-align: center;    
    position: absolute;
    color: white;
    font-size: 4rem;
    top: 70vh;    
    opacity: 0;
    transition: all 2s ease-in;
}
@media (min-width:1200px)
{
    .scroll-icon.loaded
    {
        opacity: 0.9;
    }
}
@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-icon {
    animation: wave 2s ease-in-out infinite;
}
.navbar
{    
    transition: all 0.8s ease;
    font-size: 2rem;
    font-family: "Source Code Pro", monospace;
}
@media (max-width: 1200px) {
    .navbar-collapse {
      background-color: #bd5a43;      
      color:white;
      opacity: 0.9;
      border-radius: 15px;
      text-align: center;
    }
    .carousel-container, .projects-gallery
    {
        height: 50vh;
    }
  }
  .custom-toggler.navbar-toggler {
    border-color: white;
    color: hsl(0, 0%, 100%);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-link:hover
{
    color: #bd5a43;
}
.nav-link:focus
{
    color: #fff;
}

.btn-primary
{
    background-color: #bd5a43;
    border-color: rgba(112, 49, 35, 0.882)
}
.btn-primary:hover
{
    background-color: white;
}

.nav-scrolled
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #bd5a43;
    font-size: 1.1rem;
    padding-block: 0.05rem;
    opacity: 0.9;
    -webkit-box-shadow: 0px 9px 23px 6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 9px 23px 6px rgba(66, 68, 90, 1);
    box-shadow: 0px 9px 23px 6px rgba(66, 68, 90, 1);
}
.nav-link
{
    color:#fff;
    margin-right: 1vw;
    transition: all ease-in-out 0.5s;    
    display: flex;
    align-items:center;
    padding: 3px;
    
}
.navbar-nav .nav-link.active
{
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    opacity: 0.5;
    transition: transform ease-in-out 0.5s;
}
.navbar-nav .btn-primary.active
{
    background-color: #bd5a43;
    border-color: rgba(112, 49, 35, 0.882);
    opacity: 0.9;
    transition: all ease-in-out 0.5s;  
}
.logo
{
    max-width: 12vw;
    max-height: 12vh;
    transition: all 0.5s ease-in-out;
}
.nav-scrolled .nav-link:hover
{
    color: #7a9adf;
}
@media (min-width: 1200px) {
.nav-scrolled .nav-link:hover
{
    transform: scale(1.1);
    color: #7a9adf;
}
}
.nav-scrolled .logo
{
    max-width: 12vw;
    max-height: 12vh;
}
@media (max-width: 1200px) {
    .logo
{
    max-width: 40vw;
    transition: all 0.5s ease-in-out;
}
    .nav-scrolled .logo
{
    max-width: 30vw;
}}
.navbar-collapse
{
    flex-grow: 0;
}
.navbar .bi
{
    font-size: 1.5rem;    
    padding: 5px;
}
.test
{
    height: 100vh;
    background-color: #000;
}
.about
{
    opacity: 0;
    background-color: #bd5a43;
    text-align: center;
    padding: 10vh 0 10vh 0;        
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    color:white;
    transition: opacity 1s ease-in;
}

.about .about-item
{
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-title
{
    font-size: 3rem;
}
.about .about-icon
{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 1200px) { 
    .about
    {
        font-size: 1rem;
    }
    .about-title
    {
        font-size: 2rem;
    }
}
.description
{
    background-color: #7a9adf;
    text-align: justify;
    padding: 2rem 2rem 0 2rem;
}
.description .list-group-item
{
    color: white;
    background-color: #7a9adf;
    margin-bottom: 1.5rem;
}
.p-important
{
    color:#bd5a43;
    font-weight:bold;
    text-decoration:underline;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px;
    border: #bd5a43 5px solid;
    padding-block: 1rem;
}
@media(max-width:1200px)
{
    .p-important
    {
        font-size: 1.5rem;
    }
}
.description-links
{
    list-style-type: none;
}
.description-links li
{
    margin-bottom: 1rem;
}
.description-links li a
{
    color:#bd5a43;
    text-decoration: none;
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.description-links li a:hover
{
    text-shadow: 4px 4px 30px rgba(254, 7, 7, 1);
    opacity: 1;
}
@media (max-width: 1200px) {    
    .description{
        padding-inline: 0.5rem;
        padding-top: 0;
    }
    .description .list-group-item
{
    margin-bottom: 0.5rem;
}
.about
{
    padding-bottom: 1rem;
}
  }
.projects-gallery
{
    opacity: 0;
    transition: opacity 1s ease-in;
    height: 100vh;
    background-image: url("/img/projects-backgorund.jpg");
    position: relative;
}
.projects-title
{
    color:white;
    text-align: center;
    font-family:"Alfa Slab One", sans-serif;
    font-size: 4rem;
    background-color: #bd5a43;
    padding-bottom: 5rem;
}
@media (max-width:1200px) {
    .projects-title
    {
        padding-top: 1rem;
    }
}
.active
{
    opacity: 1;
}
.carousel-container
{
    color:white;
    height: 80vh;        
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.carousel-item img
{
    display: block;    
    object-fit:cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
    margin-left: auto;    
    margin-right: auto;
}
/* .carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
} */
@media (max-width: 1200px) {    
  .carousel-container, .carousel-item img
  {
      height: 60vh;
  }
}
.carousel-caption
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
}
.offer
{
    color: white;
    opacity:0;
    transition: opacity 1s ease-in;
}
.active
{
    opacity:1;
}
.offer-title
{
    background-color: #bd5a43;
    font-size: 4rem;
    font-family: "Alfa Slab One", sans-serif;
    text-align: center;
    padding-block:3rem;
    margin-bottom: 1rem;
}
.offer-description
{
    font-size:1.5rem;
    padding: 2rem;
    text-align: justify;
}
.offer-description-list .list-group-item
{
    background-color: #7a9adf;
    color:white;
    text-align: center;
    font-size: 1.1rem;
}
.offer-materials-link
{
    color:#bd5a43;
    text-decoration: none;   
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.offer-materials-link:hover
{
    text-shadow: 4px 4px 30px rgba(254, 7, 7, 1);
    opacity: 1;
}
@media (max-width: 1200px) {    
    .offer-description 
    {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .offer-description-list .list-group-item
    {
        font-size: 0.8rem;
    }
    .list-group-item
    {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
  }
.accordion-empty
{
    padding-inline: 1.25rem;
    padding-block: 1rem;
    font-size: 1.5rem;
    background-color: #7a9adf;
    color: white;
}
.accordion-button
{
    font-size: 1.5rem;
    background-color: #7a9adf;
    color:white !important;
}
.accordion-button:hover
{
    background-color: #bd5a43;
}
.accordion-body
{
    background-color: #7a9adf;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
}
.accordion-button:not(.collapsed)
{
    background-color: #bd5a43;
}
@media (max-width: 1200px) {    
    .accordion-body{
        font-size: 0.8rem;
    }
  }
.contact
{
    background-color: #bd5a43;
    opacity:0;
    transition: opacity 1s ease-in;
    padding: 2rem;
}
.active
{
    opacity: 1;
}
.contact-title
{
    font-family: "Alfa Slab One", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-block: auto;
    padding: 3rem;
}
.contact-info
{
    font-size: 2rem;
    margin-block: auto;
}
.mailto
{
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.mailto-p
{
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
}
.mailto:hover .mailto-p:hover
{
    text-shadow: 4px 4px 30px rgb(255, 255, 255);
    opacity: 1;
}
@media (max-width: 1200px) { 
    .contact
    {
        padding: 0;
    }
    .contact-title
    {
        font-size: 3rem;
    }
    .mailto-p
    {
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }
    .contact-info
    {
        font-size: 1rem;
        margin-block: auto;
    }
}
.contact-people
{
    padding-block: 1rem;
    font-size: 1.25rem;
}
.address
{
    font-size: 2rem;
    text-align: center;
}